html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.card-footer {
  padding-left: 5px;
  padding-right: 5px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: 'Harry P';
  font-size: 2.5em; }
  @media (min-width: 650px) {
    h1 {
      font-size: 3.5em; } }
  @media (min-width: 800px) {
    h1 {
      font-size: 5em; } }

h2, h4 {
  font-family: arial; }

h2 {
  margin-top: -10px; }

h4 {
  font-size: .7em; }

.crest {
  width: 180px;
  height: 197px;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0); }
  @media (min-width: 800px) {
    .crest {
      position: inherit;
      transform: translate(0, 0); } }
  @media (min-width: 1160px) {
    .crest {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .crest:last-child {
        margin-right: 0; } }

.container-footer img {
  padding: 5px;
  height: 50px;
  vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border-radius: 100px;
  box-shadow: none;
  background-color: transparent;
  width: 8em;
  height: 4em;
  font-weight: bold;
  margin-top: 10px; }
  .gryffindor button, .gryffindor input[type="button"], .gryffindor input[type="reset"], .gryffindor input[type="submit"] {
    border: 3px solid #4d0506; }
    .gryffindor button a, .gryffindor input[type="button"] a, .gryffindor input[type="reset"] a, .gryffindor input[type="submit"] a {
      color: #4d0506;
      text-decoration: none; }
  .slytherin button, .slytherin input[type="button"], .slytherin input[type="reset"], .slytherin input[type="submit"] {
    border: 3px solid #25581f; }
    .slytherin button a, .slytherin input[type="button"] a, .slytherin input[type="reset"] a, .slytherin input[type="submit"] a {
      color: #25581f;
      text-decoration: none; }
  .ravenclaw button, .ravenclaw input[type="button"], .ravenclaw input[type="reset"], .ravenclaw input[type="submit"] {
    border: 3px solid #0b304a; }
    .ravenclaw button a, .ravenclaw input[type="button"] a, .ravenclaw input[type="reset"] a, .ravenclaw input[type="submit"] a {
      color: #0b304a;
      text-decoration: none; }
  .hufflepuff button, .hufflepuff input[type="button"], .hufflepuff input[type="reset"], .hufflepuff input[type="submit"] {
    border: 3px solid #918507; }
    .hufflepuff button a, .hufflepuff input[type="button"] a, .hufflepuff input[type="reset"] a, .hufflepuff input[type="submit"] a {
      color: #918507;
      text-decoration: none; }

.gryffindor button:focus, .gryffindor input[type="button"]:focus, .gryffindor input[type="reset"]:focus, .gryffindor input[type="submit"]:focus, .gryffindor
button:hover, .gryffindor input[type="button"]:hover, .gryffindor input[type="reset"]:hover, .gryffindor input[type="submit"]:hover {
  background: #ad0b0d;
  color: #fbbcbd; }
.slytherin button:focus, .slytherin input[type="button"]:focus, .slytherin input[type="reset"]:focus, .slytherin input[type="submit"]:focus, .slytherin
button:hover, .slytherin input[type="button"]:hover, .slytherin input[type="reset"]:hover, .slytherin input[type="submit"]:hover {
  background: #45a33a;
  color: #c4e9c0; }
.ravenclaw button:focus, .ravenclaw input[type="button"]:focus, .ravenclaw input[type="reset"]:focus, .ravenclaw input[type="submit"]:focus, .ravenclaw
button:hover, .ravenclaw input[type="button"]:hover, .ravenclaw input[type="reset"]:hover, .ravenclaw input[type="submit"]:hover {
  background: #186aa3;
  color: #c4e1f6; }
.hufflepuff button:focus, .hufflepuff input[type="button"]:focus, .hufflepuff input[type="reset"]:focus, .hufflepuff input[type="submit"]:focus, .hufflepuff
button:hover, .hufflepuff input[type="button"]:hover, .hufflepuff input[type="reset"]:hover, .hufflepuff input[type="submit"]:hover {
  background: #c2b109;
  color: #fdf8cd; }

body {
  background: #644388; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 10px; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.card-wrapper {
  display: block; }
  .card-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .card-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 600px) {
    .card-wrapper:first-of-type {
      margin-bottom: 2em; } }

.card-main {
  display: block; }
  .card-main::after {
    clear: both;
    content: "";
    display: block; }
  .card-main::after {
    clear: both;
    content: "";
    display: block; }

.container-footer {
  height: 50px;
  margin-top: 50px;
  float: right; }
  .container-footer::after {
    clear: both;
    content: "";
    display: block; }
  .container-footer * {
    display: inline-block; }

.card-footer {
  height: 20px;
  display: block; }
  .card-footer::after {
    clear: both;
    content: "";
    display: block; }
  .card-footer::after {
    clear: both;
    content: "";
    display: block; }
  .gryffindor .card-footer {
    border-top: 2px solid #f3bf1b;
    color: black; }
    .gryffindor .card-footer a {
      color: #f3bf1b;
      text-decoration: none; }
  .slytherin .card-footer {
    border-top: 2px solid #9e9996;
    color: black; }
    .slytherin .card-footer a {
      color: #9e9996;
      text-decoration: none; }
  .ravenclaw .card-footer {
    border-top: 2px solid #a67a53;
    color: black; }
    .ravenclaw .card-footer a {
      color: #a67a53;
      text-decoration: none; }
  .hufflepuff .card-footer {
    border-top: 2px solid #0c0d08;
    color: black; }
    .hufflepuff .card-footer a {
      color: #0c0d08;
      text-decoration: none; }

.like, .share, .downloads {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 33.29693%;
  margin-right: 0;
  height: 20px;
  margin: 10px 0 0 0;
  padding: 3px; }
  .like:last-child, .share:last-child, .downloads:last-child {
    margin-right: 0; }
  .like img, .share img, .downloads img {
    height: 100%;
    cursor: pointer; }
    .like img:hover, .share img:hover, .downloads img:hover {
      filter: invert(100%); }
  .like h4, .share h4, .downloads h4 {
    display: inline-block;
    position: relative;
    bottom: 4px; }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .like, .share, .downloads {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .like:last-child, .share:last-child, .downloads:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 420px) {
    .like, .share, .downloads {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .like:last-child, .share:last-child, .downloads:last-child {
        margin-right: 0; } }

.header {
  padding-left: 10px;
  padding-bottom: 40px;
  display: inline-block; }
  .header::after {
    clear: both;
    content: "";
    display: block; }
  .header .logo {
    float: left;
    width: 80px; }
    @media (min-width: 650px) {
      .header .logo {
        width: 160px; } }
    @media (min-width: 800px) {
      .header .logo {
        width: 235px; } }
    .header .logo img {
      width: 100%; }
  .header h1 {
    float: left;
    padding: 20px 30px;
    color: white;
    text-shadow: -3px 0 #251933, 0 3px #251933, 3px 0 #251933, 0 -3px #251933; }
    @media (min-width: 650px) {
      .header h1 {
        padding: 30px 30px; } }
    @media (min-width: 800px) {
      .header h1 {
        padding: 40px 30px; } }

.card {
  background: white; }
  .card::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 650px) {
    .card {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .card:last-child {
        margin-right: 0; } }

.gryffindor {
  border-radius: 5px;
  border: 10px solid #f3bf1b;
  position: relative; }
  .gryffindor:after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../img/gryffindor.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transition: opacity .5s; }
    @media screen and (max-width: 650px) {
      .gryffindor:after {
        background-position: center; } }
  .gryffindor .trans-bg {
    position: relative;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgba(77, 5, 6, 0.5);
    transition: background .5s; }
    .gryffindor .trans-bg::after {
      clear: both;
      content: "";
      display: block; }
  .gryffindor:hover:after {
    opacity: 0; }
  .gryffindor:hover .trans-bg {
    background: rgba(77, 5, 6, 0.7); }

.slytherin {
  border-radius: 5px;
  border: 10px solid #9e9996;
  position: relative; }
  .slytherin:after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../img/slytherin.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transition: opacity .5s; }
    @media screen and (max-width: 650px) {
      .slytherin:after {
        background-position: center; } }
  .slytherin .trans-bg {
    position: relative;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgba(37, 88, 31, 0.5);
    transition: background .5s; }
    .slytherin .trans-bg::after {
      clear: both;
      content: "";
      display: block; }
  .slytherin:hover:after {
    opacity: 0; }
  .slytherin:hover .trans-bg {
    background: rgba(37, 88, 31, 0.7); }

.ravenclaw {
  border-radius: 5px;
  border: 10px solid #a67a53;
  position: relative; }
  .ravenclaw:after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../img/ravenclaw.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transition: opacity .5s; }
    @media screen and (max-width: 650px) {
      .ravenclaw:after {
        background-position: center; } }
  .ravenclaw .trans-bg {
    position: relative;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgba(11, 48, 74, 0.5);
    transition: background .5s; }
    .ravenclaw .trans-bg::after {
      clear: both;
      content: "";
      display: block; }
  .ravenclaw:hover:after {
    opacity: 0; }
  .ravenclaw:hover .trans-bg {
    background: rgba(11, 48, 74, 0.7); }

.hufflepuff {
  border-radius: 5px;
  border: 10px solid #0c0d08;
  position: relative; }
  .hufflepuff:after {
    width: 100%;
    height: 100%;
    content: "";
    background: url(../img/hufflepuff.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    transition: opacity .5s; }
    @media screen and (max-width: 650px) {
      .hufflepuff:after {
        background-position: center; } }
  .hufflepuff .trans-bg {
    position: relative;
    z-index: 2;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: rgba(243, 222, 11, 0.5);
    transition: background .5s; }
    .hufflepuff .trans-bg::after {
      clear: both;
      content: "";
      display: block; }
  .hufflepuff:hover:after {
    opacity: 0; }
  .hufflepuff:hover .trans-bg {
    background: rgba(243, 222, 11, 0.7); }

.card-text {
  line-height: 3em;
  margin: 50px 10px; }
  .card-text::after {
    clear: both;
    content: "";
    display: block; }
  .card-text h1 {
    font-size: 1.5em; }
    @media screen and (min-width: 800px) {
      .card-text h1 {
        font-size: 2em; } }
    @media screen and (min-width: 1000px) and (max-width: 1200px) {
      .card-text h1 {
        font-size: 1.9em; } }
    @media screen and (min-width: 1200px) {
      .card-text h1 {
        font-size: 2em; } }
  @media screen and (min-width: 1160px) {
    .card-text {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 61.61588%;
      margin-right: 0; }
      .card-text:last-child {
        margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
