body {
  background: $purple;
}

.container {
  @include outer-container;
  @include clearfix;
  padding-top: 40px;
  padding-bottom: 10px;
}


.card-wrapper {
  @include row;
  @include clearfix;
  &:first-of-type {
    @include media(min-width 600px) {
      margin-bottom: 2em;
    }
  }
}

.card-main {
  @include row;
  @include clearfix;
}
