.card {
  background: white;
  @include clearfix;
  @include house($g-gold, $g-image, $g-red);

  @include media(min-width 600px) {
    @include span-columns(6 of 12);
   }
}

// .gryffindor {
//   @include house($g-gold, $g-image);
//   .trans-bg {
//     @include transparent-background($g-red);
//   }
// }
//
// .slytherin {
//   @include house($s-silver, $s-image);
//   .trans-bg {
//     @include transparent-background($s-green);
//   }
// }
//
// .ravenclaw {
//   @include house($r-bronze, $r-image);
//   .trans-bg {
//     @include transparent-background($r-blue);
//   }
// }
//
// .hufflepuff {
//   @include house($h-black, $h-image);
//   .trans-bg {
//     @include transparent-background($h-yellow);
//   }
// }

.card-text {
  display: inline-block;
  line-height: 3em;
  @include position(relative, -50px null null 20px);
  h1 {
    font-size: 2em;
    @include media(max-width 1160px) {
      font-size: 1.5em;
    }
  }
}
