.card {
  background: white;
  @include clearfix;
  @media #{$brk-phone} {
    @include span-columns(6 of 12);
  }
  @media #{$brk-phone} {
  }
}

.gryffindor {
  @include house($g-gold, $g-image, $g-red);
}

.slytherin {
  @include house($s-silver, $s-image, $s-green);
}

.ravenclaw {
  @include house($r-bronze, $r-image, $r-blue);
}

.hufflepuff {
  @include house($h-black, $h-image, $h-yellow);
}

.card-text {
  @include clearfix;
  line-height: 3em;
  margin: 50px 10px;
  h1 {
    font-size: 1.5em;
    @include media(min-width 800px) {
      font-size: 2em;
    }
    @include media(min-width 1000px max-width 1200px) {
      font-size: 1.9em;
    }
    @include media(min-width 1200px) {
      font-size: 2em;
    }

  }
  @include media(min-width 1160px) {
    // display: inline-block;
    // margin: 0px 5px 40px 5px;
    @include span-columns(7.5 of 12);
    @include omega;
  }
}
