.header {
  @include clearfix;
  padding-left: 10px;
  padding-bottom: 40px;
  display: inline-block;
  .logo {
    float: left;
    width: 80px;
    @media #{$brk-phone} {
      width: 160px;
    }
    @media #{$brk-tablet} {
      width: 235px;
    }
    img {
      width: 100%;
    }
  }
  h1 {
    float: left;
    padding: 20px 30px;
    color: white;
    text-shadow: $letter-border;
    @media #{$brk-phone} {
      padding: 30px 30px;

    }
    @media #{$brk-tablet} {
      padding: 40px 30px;
    }
  }
}
